.container{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
    outline: 1px solid black;
}
.line-info{
display: flex;
flex-direction: column;
margin-left: 10px;
}
.line{
    border: 1px solid blue;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.percentage{
    background-color: rgba(208,214,226,255);
    padding-right: 60px;
    padding-top: 5px;
}
.minutes{
    padding-top: 5px;
    padding-left: 200px;
}
button{
    height: 30px;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 5px 15px 5px 15px;
    background-color: rgba(59,89,153,255);
    margin-left: 5px;
}
@media (max-width:988px){
    .container{
        display: flex;
    }
}
@media (min-width:800px) and (max-width:987px){
    .container{
        display: block;
    }
    .main img{
        width: 100%;
    }
   .line-info{
    display: flex;
    flex-direction: column;
   }
   .line{
    width: 99.9%;
   }
   button{
    width: 99.4%;
   }
}
@media (min-width:700px) and (max-width:799px){
.container{
    display: block;
}
.main img{
    width: 99.9%;
}
.line{
    margin-right: 20px;
    width: 99.9%;
}
.info{
    font-size: 20px;
}
button{
    width: 99%;
}
}
@media(min-width:599px) and (max-width:699px){
    .container{
        display: block;
    }
    .main img{
        width: 99%;
    }
    .info{
        font-size: 20px;
    }
    button{
        width: 99%;
    }
} 