
/* skrol */
.header{
    display: flex;
    justify-content: space-between;
}
.nav-links li{
    list-style-type:none;
    display:inline-block;
     padding: 10px;
     color: grey;
     font-size: 22px;
     font-weight: bold;
}
.nav-links li:hover{
    text-decoration: underline;
    transform :translateY(-5px);
}
#header-title{
    color: grey;
    font-size:22px;
    font-weight: bold;
}

#header-title:hover{
    text-decoration: underline;
    transform :translateY(-5px);
}

.main-content{
    display: flex;
   justify-content: space-around;
   gap: 0;
}

.main-left{
    display: flex;
    flex-direction: column;
    width: 20%;

}

.middle-info{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.img-middle{
    width: 60%;
    height: 60%;
    margin-left: 195px;
}

.title{
   display: flex;
    justify-content: center;
}

figcaption{
    font-size: 20px;
    margin: 15px;
    width: 100%;
    text-wrap: balance;
}

.icons{
    display: flex;
    justify-content: flex-end;
}
.icon{
    width: 3%;
padding: 0.5%;

}
